<footer class="footer">
  <img src="../../../assets/images/Tmdb-logo.svg.png" alt="Logo of Themoviedb">
  <p>
    This website utilizes information provided by The Movie Database (TMDB) through its APIs. However, it is important
    to
    note that this website is not endorsed, certified, or approved by TMDB. The information about movies, casts, release
    dates, and other data displayed here is provided for reference and entertainment purposes. Any queries or requests
    for
    specific information should be directed to TMDB. For official information about movies and TV shows, please visit
    the
    TMDB website at <a href="https://www.themoviedb.org/">Themoviedb.org</a>.
  </p>
</footer>