<header class="header">
  <a class="header-app-title" routerLink="/">Cinephile Chronicles</a>
  <h2 *ngIf="_router.url == '/user/edit-profile'">Hi, {{ name }}</h2>
  <h2 *ngIf="_router.url == '/user/register'">Create new account</h2>
  <p-button *ngIf="_router.url == '/user/edit-profile'" icon="pi pi-heart" class="favorite-button" [rounded]="true"
    severity="help" routerLink="/favorites"></p-button>
  <p-button *ngIf="_router.url == '/user/register'" label="Login" class="login-button" routerLink="/login"
    [link]="true"></p-button>
</header>

<router-outlet></router-outlet>