.header {
    height: 80px;
    padding: 24px 100px;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        span {
            flex: 2;

            input {
                width: 100%;
            }
        }

        .actions {
            margin: 0;
            padding: 0;
            display: flex;
            gap: 16px;
        }
    }
}