::ng-deep .p-password {
    width: 100%;
}

::ng-deep .p-inputtext {
    width: 100%;
}

::ng-deep .p-button {
    width: 200px;
}

.login {
    min-height: calc(100vh - 138px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .title {
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 0.03em;
        font-size: 120px;
        color: var(--primary-color);
        text-decoration: none;
        text-shadow: 3px 3px #8e9094;
        margin: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 400px;
        flex: 2;

        .input {
            width: 100%;
            margin-top: 8px;
        }

        .forget-password {
            align-self: start;
            text-decoration: none;
            font-size: 12px;
            color: var(--primary-color);
            margin-left: 3px;
        }

        .actions-buttons {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 16px;
        }
    }
}