@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 24px 120px;
    align-items: center;
    gap: 20px;

    img {
        height: 36px;
    }

    p {
        font-size: 12px;
        text-align: center;
    }
}